@{ 
    Employee Employee = (Employee)ViewData["Employee"];
    string Title = (string)ViewData["Title"];
}

<div>
    <label style="font-weight:bold">@Title</label>
</div>
<div class="pt-2 mb-2 employee_form" style="overflow:auto">

</div>
