@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>IBJOffice</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome!</h2>
        <p>
            IBJOffice is a sample application that demonstrates how to perform CRUD and Search operations using .NET Code 3.1 MVC 5 on Employees SQL Database.
        </p>
    </div>
</div>
